@using MeetingApp.Web.Controllers;
@model MainMenuViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <h1 class="display-3">Meeting panel</h1>
    </div>
    <div class="row">
        <a class="btn btn-light" asp-controller="Auth" asp-action="LogOut">Log Out</a>
        <h2 class="display-5"> > @Model.userLogin</h2>
    </div>
</div>

<div class="col-2"></div>
<div class="col-6">

    <div class="col-xs-12" style="height:50px;"></div>

    <h5>Join to meeting</h5>
    @using (Html.BeginForm("JoinEvent", "Meeting", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <button name="action" value="join" class="btn btn-light">Join</button>
            <input type="text" class="form-control" id="_key" placeholder="Key">
        </div>
    }

    <div class="col-xs-12" style="height:50px;"></div>

    <h5>Create meeting</h5>
    <a class="btn btn-light" asp-controller="Meeting" asp-action="CreateMeeting">Create</a>

    <div class="col-xs-12" style="height:50px;"></div>

    <h5>My meetings</h5>
    <div class="row">
        <table id="myTable" class=" table order-list">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>State</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MeetingList.Count; i++)
                {
                    <tr>
                        <td class="col-sm-4">
                            <p>@Model.MeetingList[i].title</p>
                        </td>
                        <td class="col-sm-4">
                            <p>@Model.MeetingList[i].state</p>
                        </td>
                        <td class="col-sm-2">
                            <a class="btn btn-light" asp-controller="Meeting" asp-action="SetupMeeting" asp-route-id="@i">Setup</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-4"></div>

